# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

App.test.js
logo.svg
reportWebVitals.js
setupTests.js

# virtual environments
mbta-venv/
.env
.env.*

# scripts to test or cache static route/stop data
clean-route-shapes.py
ex-mbta-vehicle-api.json
get-route-shapes.py
mbta-plot-vehicles.py
test-mbta-api.py

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.cache
